body {
    margin-top: 20px;
    color: var(--color-canvas-text);
    background-color: #f2f7f8;
}

.bgnavbar {
    --bs-bg-opacity: 1;
    background-color: #2f3b5a;
    color: #fafafa !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.container {
    max-width: 1200px;
}

a {
    color: var(--color-canvas-text);
}

.navbar {
    color: var(--color-canvas-text) !important;
}

.progress-bar {
    background-color: #2f3b5a !important;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
    }

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.card {
    background: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}
.text-indent {
    text-indent: 90px;
    text-align:justify;
}
.accordion-button:not(.collapsed) {
    color: #fafafa;
    background-color: #2f3b5a !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.list-group-item {
}

.dark-mode {
    background: var(--color-canvas-background);
    color: #cecece;
}

    .dark-mode .card {
        background: var(--color-canvas-default);
    }

    .dark-mode .nav-link {
        color: #fafafa !important;
    }


    .dark-mode .list-group-item {
        background: #272E48;
    }


    .dark-mode .navbar {
        --bs-bg-opacity: 1;
        background-color: #272E48;
        color: #fafafa !important;
    }

    .dark-mode .accordion-body {
        background-color: #010409e7;
    }

    .dark-mode .accordion-button:not(.collapsed) {
        color: #fafafa;
        background-color: var(--color-canvas-background) !important;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }

    .dark-mode .accordion-item {
        border: 1px #010409;
    }

    .dark-mode a {
        color: #dbdbdb;
    }


:root {
    --color-canvas-background: #010409;
    --color-canvas-default: #0d1117;
    --color-canvas-text: #273568;
}
