################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.buildtest
/node_modules
_site
.jekyll-cache
Gemfile.lock
